{% extends "layout.html.twig" %}

{% block description %}
    {{ parent() }}
    {% block title %}
    |Page Coloriage
{% endblock %}
{% endblock %}



{% block body %}

{% block header %}
{{ parent() }}
        {% block header_title %}
        <h1> {{session.user.firstname}} Joue avec Miaou</h1>
        {% endblock %}
        {% block button %}
        <button class="action-button"><a href="?route=logout">Se Déconnecter</a></button>
        <button class="action-button"><a href="?route=profile">Profil</a></button>
        {% endblock %}
        {% block nav %}
        {% include "subpages/_navUser.html.twig" %}
        {% endblock %}
{% endblock %}
{% block content %}
    <main id="coloriage">
    <h2> Ma page Coloriage </h2> 
    
   <section id="coloriage-content" class=ChoixCategorie> 
   <article>
        <h3>Choisissez un catégorie de coloriage</h3>
            <select name="categorie_id" id="categorie-select">
                {% for categorie in categories %}
                <option value="{{ categorie.id }}">{{ categorie.categorie_name }}</option>
                {% endfor %}
            </select>
            {#<button type="button" id="fetch-coloriages">Afficher</button>#}
            {#<button type="submit">Afficher la liste de coloriages</button>#}
       
    </article>
    <article>
    <div id="listing">
    
        {#{% if coloriages is not empty %}
        <ul id="coloriages-list">
            {% for coloriage in coloriages %}
            <li data-id="{{ coloriage.id }}" data-url="{{ coloriage.url }}">{{ coloriage.name }}</li>
            {% endfor %}</ul>
        {% endif %}#}
        <ul id="coloriages-list"></ul>
</div>


        
    </article>
    <article>
        <h3>Aperçu</h3>
        <div id="preview"></div> {# Div pour afficher la préview du document .pdf #}
        <div id="preview-section"></div>{# Div pour afficher le lien de téléchargement #}
    </article>
    
    </main>
    {% endblock %}
        
            
           
        
        {% block footer %}
        {{ parent() }}
        {% endblock %}
        
    
        {% block java%}
      {{ parent() }}
    {% endblock %}
{% endblock %}
