{% extends "layout.html.twig" %}


{% block header%}
        <section id="header">
        
        <img class="avatar" name={{avatar.name}} src={{ avatar.url }} alt={{avatar.description}}></img>
        <h1> {{session.user.firstname}} joue avec Miaou</h1>
        <div>
        <button class="action-button"><a href="?route=logout">Se déconnecter</a></button>
        <!--<button class="action-button"><a href="?route=login">S'inscrire</a></button>-->
        </div>
        
        </section>
        
{% endblock %}
{% block nav %}
        {% include "subpages/_navAdmin.html.twig" %}
        {% endblock %}

{% block content %}
 <main>      
      <h2> Page Administarteur </h2>  
{% block error %}
{{ parent() }}
{% endblock %} 
 {% if success_message is defined %}
        <p>{{ success_message }}</p>
    {% endif %}
    {% if error_message is defined %}
        <p>{{ error_message }}</p>
    {% endif %}   