{% extends "layout.html.twig" %}

{% block description %}
    {{ parent() }}
    {% block title %}
    |Page Histoires
{% endblock %}
{% endblock %}



{% block body %}

{% block header %}
{{ parent() }}
       {% block header_title %}
        <h1> {{session.user.firstname}} Joue avec Miaou</h1>
        {% endblock %}
        {% block button %}
        <button class="action-button"><a href="?route=logout">Se Déconnecter</a></button>
        <button class="action-button"><a href="?route=profile">Profil</a></button>
        {% endblock %}
        {% block nav %}
        {% include "subpages/_navUser.html.twig" %}
        {% endblock %}
{% endblock %}
        
    {% block content %}
    <main id=histoire>      

      

        <section id="histoire-content">
        <h2>Ma page Histoires</h2>
        
            <article>
                <h3>Sélectionne un Objet, un Personnage et Lieu et écoute l'histoire</h3>
                
                <select name="personnage_id">
                    {% for personnage in personnages %}
                        <option value="{{ personnage.getId }}">{{ personnage.getPersoName }}</option>
                    {% endfor %}
                </select>
                <select name="objet_id">
                    {% for objet in objets %}
                        <option value="{{ objet.getId }}">{{ objet.getObjetName }}</option>
                    {% endfor %}
                </select>
                <select name="lieu_id">
                    {% for lieu in lieux %}
                        <option value="{{ lieu.getId }}">{{ lieu.getLieuName }}</option>
                    {% endfor %}
                </select>
            
            <div class="image-wrapper">
                <div id="personnage-image">
                    <!-- Le personnage sélectionné sera affichée ici -->
                </div>
                <div id="objet-image">
                    <!-- L objet sélectionné sera affichée ici -->
                </div>
                <div id="lieu-image">
                    <!-- Le lieu sélectionné sera affichée ici -->
                </div>
            </div>
            </article>
    
            <article id="story-section">
                <!-- L'histoire sera affichée ici -->
            </article>
        </section>
    </main>
    {% endblock %}
    
        {% block footer %}
            {{ parent() }}
        {% endblock %}
        
    
        {% block java%}
        {{ parent() }}
        {% endblock %}
{% endblock %}