{% extends "layout.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}
{% block header %}
<section id="header">
        
        <img class="avatar" name= "logo" src="assets/img/Miaou/chatFiligranne.png" alt="logo du site : chat tout mignon"></img>
        <h1> {{session.user.firstname}} joue avec Miaou</h1>
        <div>
        <button class="action-button"><a href="?route=register">S'inscrire</a></button>
        <button class="action-button"><a href="?route=login">Se Connecter</a></button>-->
        </div>
        
        </section>
{% endblock %}
{% block nav%}
{{ parent() }}
{% endblock %}
{% block content %}
<main>
 <h1>page Accueil<h1>
{% block error %}
{{ parent() }}
{% endblock %}
 {% if success_message is defined %}
        <p>{{ success_message }}</p>
    {% endif %}
    {% if error_message is defined %}
        <p>{{ error_message }}</p>
    {% endif %}
</main>
{%endblock %}
{% block footer %}
{% include "subpages/_footer.html.twig" %} 

 {% block java%}
    <script>localStorage.removeItem('startTime');</script>
 {% endblock %}

    {% block javascriptGlobal %}
      <script> src="../assets/js/common.js"</script>
      <script> src="../assets/js/home.js"</script>
      <script> src="../assets/js/global.js"</script>
{% endblock %}
{% endblock %}
 