{% extends "layout.html.twig" %}

{% block description %}
    {{ parent() }}
    {% block title %}
        |Page Accueil 
    {% endblock %}
{% endblock %}



{% block body %}

        {% block header %}
        {{ parent() }}
        {% endblock %}

        

        {% block content %}
        <main id="homepage">
        <section class ="homepage-content">
            <h2>Page Accueil</h2>
            <h3>Bonjour et Bienvenue sur le site Apprendre avec Miaou !</h3>
            <p>Le site de jeux et activités pour les enfants de 3/5 ans</p>
            <article>
                <div>
                    <a href="?route=login"><img src="assets/img/Miaou/CadenasCoeur.png"></a>
                    <img src="assets/img/Miaou/ClefCoeur.png">
                </div>
                <div>
                    <p>Vous devez vous connecter pour accéder aux jeux et activités</p>
                    <p>Vous n'avez pas encore de compte ? - <a href="?route=register">Inscrivez-vous ici</a></p>
                </div>
            </article>
            </section>
            {% block error %}
            {{ parent() }}
            {% endblock %}
            {% if success_message is defined %}
                <p>{{ success_message }}</p>
            {% endif %}
            {% if error_message is defined %}
                <p>{{ error_message }}</p>
            {% endif %}
        </main>
        {% endblock %}

        {% block footer %}
        {% include "subpages/_footer.html.twig" %}
        {% endblock %}

        {% block java %}
        {{ parent() }}
        {% endblock %}
{% endblock %}
   

