{% extends "layout.html.twig" %}

{% block title %} Modification de mot de passe {{ parent() }} {% endblock %}
{% block header %}
<section id="header">
        
        <img class="avatar" name={{avatar.name}} src={{ avatar.url }} alt={{avatar.description}}></img>
        <h1> Modifiez votre mot de passe</h1>
        <div>
        <button class="action-button"><a href="?route=logout">Se déconnecter</a></button>
        <!--<button class="action-button"><a href="?route=login">S'inscrire</a></button>-->
        </div>
        
        </section>
{% endblock %}
{% block nav %}
{{ parent() }}
{% endblock %}
{% block content %}
<main>

    <section class="titre">
        <h1>
            <br> Remplissez et validez le formulaire
        </h1>
    
{% block error %}
{{ parent() }}
{% endblock %} 
        
<section id="form">
        
        <h2>Modifier mon mot de passe</h2>

        <form method="POST" id="modifyPassword" action="?route=modifyPassword">


                <fieldset>
                        <legend>Merci de renseigner les information suivantes :</legend>
                
                        <label  for         = "email">Email :</label>
                        <input  type        = "email"
                                id          = "email"
                                name        = "email"
                                aria-label  = "Email field"
                                value       = "lbonneva@hotmail.com">
                                <div class="error-message" id="error-email"></div>
                                
                        <label for = "old_password">Ancien mot de passe :</label>
                        <div class="password-container">
                                <input  type       = "text"
                                        class      = "password"
                                        id         = "old_password"
                                        name       = "old_password"
                                        aria-label = "Old_Password field"
                                        value      = "HSfHn;tlU5$g">
                                        <div class="error-message" id="error-old_password"></div>
                                <span class="eyes">
                                        <i class="fas fa-eye-slash eyesImag"></i>
                                </span> 
                        </div>

                        <label for = "new_password">Nouveau mot de passe :</label>
                        <div class="password-container">
                                <input  type       = "text"
                                        class      = "password"
                                        id         = "new_password"
                                        name       = "new_password"
                                        aria-label = "New_Password field"
                                        value      = "">
                                        <div class="error-message" id="error-new_password"></div>
                                <span class="eyes">
                                        <i class="fas fa-eye-slash eyesImag"></i>
                                </span>             
                        </div>
                                
                        <label for = "confirm_new_password">Confirmer nouveau mot de passe :</label>
                        <div class="password-container">
                                <input  type       = "text"
                                        class      = "password"
                                        id         = "confirm_new_password"
                                        name       = "confirm_new_password"
                                        aria-label = "confirm_new_password field"
                                        value      = "">
                                        <div class="error-message" id="error-confirm_new_password"></div>
                                <span class="eyes">
                                        <i class="fas fa-eye-slash eyesImag"></i>
                                </span>         
                        </div>
                                
                        <input  type    = "text"
                                name    = "csrf_token"
                                id      = "csrf_token"
                                value   = "{{ token }}">
                                <div class="error-message" id="error-token"></div>

                        <input  type    = "submit"
                                name    = "soumettre"
                                value   = "Modifier mon mot de passe">
                </fieldset>
        </form>
</section>
{% if scripts is defined %}
            {% for script in scripts %}
                <script src ="{{ script }}"></script>
            {% endfor %}
        {% endif %}

{% endblock %}